---
layout: page
title: DataNights
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
            <h1 class="animated fadeInUp"><b>DataNights Israel</b></h1>
            <p class="animated fadeInUp"><b>A community-driven data science learning experience.</b></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
          </div>
            <p>The DataNights program is an educational program designed for members of the Data Science community In Israel. This program runs as part of a collaboration between <b><a href="https://datahack.org.il/" target="_blank">the DataHack NGO</a></b> - an amuta promoting data science and machine learning in Israel - and <b><a href="https://extend-tech.com/baot" target="_blank">the Baot community</a></b>. Each cohort of the program focuses on a specific topic in data science and is made up of about 4 to 8 teaching sessions. Each one of these sessions includes a theoretical lecture and practical work in groups.</p>
          <p>The program began as a part of a collaboration between <b><a href="https://extend-tech.com/baot" target="_blank">the "Baot" community</a></b>, aimed at increasing the presence of women in the high-tech industry and to create a work environment in which they can share knowledge and practice in groups, and <b><a href="https://datahack.org.il/" target="_blank">DataHack</a></b>. Today there are also programs for men and women and the goal has expanded to share knowledge in the Israeli data science community in general, in addition to the original goal of promoting women in the industry. In this manner the programs are divided into 30% of mixed programs and roughly 70% programs for women only.
</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE HAVE A GREAT TEAM</h2>
      <p>DataNights Israel was founded and is led by our unbeatable Gal Hever, and is made up of practicing data scientists and research students from various companies and institutions.</p>
      <a href="{{ site.baseurl }}/team" class="btn btn-view-works">Our Team</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">

    <div class="row">
      <div class="section-title">
        <h2>Our Programs</h2>
        <p>Over the years we have ran quite a few programs focusing on various topics. Here are a few of them.</p>
      </div>
    </div>

    <div class="row ">

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="flask"></ion-icon>
          <h4>XAI</h4>
          <p>Dive into SHAP and LIME, unsupervised feature importance approaches and with methods suitable for DL in this exquisite program.</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="pulse"></ion-icon>
          <h4>Time Series</h4>
          <p>From classic time series modelling to the newest neural approaches, this program couldn't come at a better time!</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="document-text"></ion-icon>
          <h4>NLP</h4>
          <p>Delve into natural language processing, from language structure and word2vec to sequence models and the BERT family!</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="mic"></ion-icon>
          <h4>Speech Recognition</h4>
          <p>Get familiar with automatic speech recognition, digital signal processing and state-of-the-art deep learning models to take these challenges on!</p>
        </div>
      </div>

    </div>

    <div class="row ">

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="git-merge"></ion-icon>
          <h4>Graphs</h4>
          <p>Get a crash course in graph theory, classical graph-based algorithms and state-of-the-art graph neural networks!</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="briefcase"></ion-icon>
          <a href="https://datanights-il.github.io/programs/dsmgmt/">
              <h4>DS Management</h4>
          </a>
          <a href="https://datanights-il.github.io/programs/dsmgmt/">
              <p>A program for serving or aspiring DS team leads, with a slew of experienced managers sharing their experience.</p>
          </a>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="leaf"></ion-icon>
          <h4>DS in the Real World</h4>
          <p>A crash course in practical DS skills, from data cleaning and feature engineering to productization and hard-learned life lessons from veterans.</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="build"></ion-icon>
          <h4>Reinforcement Learning</h4>
          <p>Learn both core concepts in reinforcement learning and state-of-the-art solutions in a program to reinforce your knowledge.</p>
        </div>
      </div>

    </div>

    <div class="row ">

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="eye"></ion-icon>
          <h4>Computer Vision</h4>
          <p>NNs for transfer learning, advances in GANs, self-supervision and attention in vision are just some of the topics in this visionary program.</p>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We are always looking for more team members!</h2>
          <p>The DataNights project, and the DataHack NGO generally, are always looking for more volunteer team members to join our ranks and help us run more non-profit courses and projects for the Israeli data science community.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Join Us</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start -->
<!-- Select icons from: -->
<!-- https://ionicframework.com/docs/v3/ionicons/ --->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Some Numbers</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
